/node_modules
/public/hot
/public/storage
/storage
/vendor
.env*
!.env.sample
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
/.idea
/.vscode
*.iml

*.pem
docker-compose.yml
